<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leaderboard.name %>
</p>

<div>
  <p>Entries:</p>
  <ol>
    <% @leaderboard.entries.order(score: :desc).each do |entry| %>
    <li><%= entry.username %> - <%= entry.score %></li>
  <% end -%>
  </ol>
</div>

<div>
  <%= form_tag leaderboard_entry_scores_path(leaderboard_id: @leaderboard), method: :post do %>
    <p>
      <%= label_tag "Username" %>
      <%= text_field_tag "username" %>
    </p>
    <p>
      <%= label_tag "Score" %>
      <%= text_field_tag "score" %>
    </p>
    <%= submit_tag "Add score" %>
  <% end -%>
</div>

<div>
  <p>Scores:</p>
  <ul>
    <% @leaderboard.scores.includes(:entry).each do |score| %>
    <li><%= score.score %> for <%= score.entry.username %>, <%= link_to 'Remove', score, method: :delete %></li>
  <% end -%>
  </ol>
</div>

<hr>

<%= link_to 'Edit', edit_leaderboard_path(@leaderboard) %> |
<%= link_to 'Back', leaderboards_path %>
